In [4]:
import streamlit as st
from PIL import Image
import numpy as np
import pandas as pd

st.title('Webページ')
st.caption('これはテストアプリです')
st.subheader('自己紹介')
st.text('こんにちは！\n''よろしくお願いします！')

code = '''
import streamlit as st

st.title('Webアプリ')
'''
st.code(code, language='python')

#画像
image = Image.open('yonedu.jpg')
st.image(image, width=200)

with st.form(key='profile_form'):
    #テキストボックス
    name = st.text_input('名前')
    address = st.text_input('住所')
    
    #セレクトボックス
    age_category = st.selectbox('年齢層', ('こども（18歳未満）', '大人（18歳以上）'))
    
    #ラジオボタン
    sexial_category = st.radio('性別', ('男', '女'))
    
    #複数選択
    hobby = st.multiselect('趣味', ('スポーツ', '読書', 'プログラミング', 'アニメ・映画', 'ゲーム', '料理'))

    #チェックボックス
    mail_subscribe = st.checkbox('メールマガジンを購読する')
    
    #スライダー
    height =st.slider('身長', min_value=110, max_value=210)
    
    #日付
    #date = st.date_input('誕生日', datetime.date(2023, 7, 4))
    
    #カラーピッカー
    color = st.color_picker('テーマカラー', '#00f900')
    
    #ボタン
    submit_btn = st.form_submit_button('送信')
    cancel_btn = st.form_submit_button('キャンセル')
    if submit_btn:
        st.text(f'ようこそ！{name}さん！{address}に書類を送りました！')
        st.text(f'年齢層: {age_category}')
        st.text(f'性別: {sexial_category}')
        st.text(f'趣味: {", ".join(hobby)}')
        #st.write(f'誕生日: {date}')

In [7]:
import streamlit as st
from PIL import Image
import numpy as np
import pandas as pd

df2 = pd.DataFrame(
    np.random.rand(100, 2)/[50, 50] + [35.69, 139.70],
    columns=['lat', 'lon']
)
df2

          lat         lon
0   35.701419  139.709068
1   35.693901  139.700747
2   35.698916  139.706897
3   35.699469  139.706961
4   35.696454  139.718273
..        ...         ...
95  35.694574  139.717085
96  35.693957  139.707990
97  35.698576  139.719126
98  35.700744  139.713389
99  35.702583  139.708358

[100 rows x 2 columns]